<div class="user-form-container">
  <!-- En-tête -->
  <div class="form-header">
    <div class="header-icon">
      <mat-icon>
        {{ data.mode === 'add' ? 'person_add' : 'manage_accounts' }}
      </mat-icon>
    </div>

    <div class="header-content">
      <h2>
        {{ data.mode === 'add' ? 'Ajouter un utilisateur' : 'Modifier l’utilisateur' }}
      </h2>

      <p>
        {{
          data.mode === 'add'
            ? 'Créer un nouveau compte utilisateur'
            : 'Modifier les informations du compte'
        }}
      </p>
    </div>

    <button mat-icon-button type="button" class="close-button" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Formulaire -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user-form">
    <!-- Informations personnelles -->
    <div class="form-section">
      <h3>
        <mat-icon>person_outline</mat-icon>
        Informations personnelles
      </h3>

      <div class="form-grid">
        
        <!-- Nom -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="lname" placeholder="Ex. Jean Dupont" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('lname')?.hasError('required')">
            Le nom est obligatoire
          </mat-error>
        </mat-form-field>
        <!-- Nom -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="fname" placeholder="Ex. Jean Dupont" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('fname')?.hasError('required')">
            Le nom est obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Adresse e-mail</mat-label>

          <input matInput type="email" formControlName="email" placeholder="exemple@email.com" />

          <mat-icon matSuffix>email</mat-icon>

          <mat-error *ngIf="form.get('email')?.hasError('required')">
            L'adresse e-mail est obligatoire
          </mat-error>

          <mat-error *ngIf="form.get('email')?.hasError('email')">
            Adresse e-mail invalide
          </mat-error>
        </mat-form-field>
        <!-- Usename -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label  *ngIf="!uexist" >Nom d'utilisateur</mat-label>
          <mat-label style="color: red;" *ngIf="uexist">Le nom d'utilisateur exist déjà</mat-label>
          <input matInput formControlName="uname"  (ngModelChange)="checkUname(form.get('uname')?.value)" placeholder="Ex. Djean" />
          <mat-icon class="outline" matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('uname')?.hasError('required')">
            Le nom d'utilisateur est obligatoire
          </mat-error>
        </mat-form-field>
        <!-- <span style="color: red;" *ngIf="uexist">
        </span> -->
        <!-- <span style="color: red;" *ngIf="uexist">
          Le nom d'utilisateur exist déjà
        </span> -->
      </div>
    </div>


    <!-- Informations du compte -->
    <div class="form-section">
      <h3>
        <mat-icon>manage_accounts</mat-icon>
        Informations du compte
      </h3>

      <div class="form-grid">
        <!-- Rôle -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Rôle</mat-label>

          <mat-select formControlName="role">
            <mat-option value=""> Sélectionner un rôle </mat-option>
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error *ngIf="form.get('role')?.hasError('required')">
            Le rôle est obligatoire
          </mat-error>
        </mat-form-field>

        <!-- Statut -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Statut</mat-label>
          <mat-select formControlName="status">
            <mat-option value=""> Sélectionner le status </mat-option>
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>

          <mat-icon matSuffix>toggle_on</mat-icon>

          <mat-error *ngIf="form.get('status')?.hasError('required')">
            Le statut est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="pass" type="password" *ngIf="form.get('!passtemp')?.value" [readonly]="true"/>
          <input matInput formControlName="passtemp" type="text" *ngIf="form.get('passtemp')?.value" [readonly]="true"/>
          <mat-icon class="outline" matSuffix>shield</mat-icon>
        </mat-form-field>
        <!-- Statut -->
          <span
            class="status-badge"
            (click)="initpass()"
          >
            Reinitialiser le mot de passe 
            <!-- <mat-icon>edit</mat-icon> -->
          </span>
      </div>
    </div>

    <!-- Boutons -->
    <div class="form-actions">
      <button mat-stroked-button type="button" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
        Annuler
      </button>

        <button mat-raised-button color="primary" type="submit"  >
        <mat-icon>
          {{ data.mode === 'add' ? 'person_add' : 'save' }}
        </mat-icon>
        {{ data.mode === 'add' ? 'Ajouter' : 'Enregistrer' }}
      </button>
    </div>
  </form>
</div>
